.title{
  background-image: url("t-b.jpg");
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: #fff;
}
.title-header{
  padding-top: 350px;
  padding-bottom: 40px;
  font-size: 6rem;
}
.navbar {
  background: none;
}
.title-headerr{

  font-size: 3rem;

}
.bro{
  margin-bottom: 250px;
}
